nav ul li:nth-child(2) a {  /* White cardboard box on selected page nav element. */
    padding-bottom: 20px;
    color: #153E7E;
	background-color: #FFFFFF;
}

#gii_content > div {
    padding: 10px;

    overflow: hidden;
    background-color: #DEECF9;

    -webkit-border-radius: 10px;
    -moz-border-radius:    10px;
    border-radius:         10px;
}
#gii_office_selection {
    margin-bottom: 10px;
}

#gii_office_list {
    padding: 5px;

    width: 40%;
    float: right;
}
#gii_performance {
    padding: 5px;

    width: 55%;
    float: left;
}

.gii_status_col {
    width: 7em;
    font-weight: bold;
}

#gii_issues_list_view  .google-visualization-table-td {
    border-width: 0px;
}