nav ul li:nth-child(2) a {  /* White cardboard box on selected page nav element. */
    padding-bottom: 20px;
    color: #153E7E;
	background-color: #FFFFFF;
}

#gii_office_selection {
    display: inline;
}
#gii_office_list {
    float: right;
    width: 40%;
}
#gii_performance {
    float: left;
    width: 60%;
}