<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>מבקר המבקר</title>

        <link type="image/x-icon" rel="icon" href="/static/media/favicon.ico" />
        <link rel="apple-touch-icon" href="/static/media/logo.png" />
        <link type="text/plain" rel="author" href="/static/humans.txt" />

        <link type="text/css" rel="stylesheet" href="/static/stylesheets/base.css">
	
        <!--<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10203855-4']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>-->

        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div id="main">
            <div id="header">
                {% block header %}
                <h1 id="logo" class="rep">פורטל השירותים והמידע הממשלתי - www.gov.il</h1>
                <div id="header_title">
                    <div id="dev_state"><img src="/static/media/beta-stamp.png" alt="in beta"></div>
                    <h2 id="govinspector_logo"><a href="/">מבקר המבקר</a></h2>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">דף הבית</a></li>
                        <li><a href="/ministries">משרדים</a></li>
                    </ul>
                </nav>
                {% endblock %}
            </div>

            <div id="content">{% block content %}{% endblock %}</div>

            <div id="footer">
                {% block footer %}
                <p class="col right">
                    פותח בהתנדבות על ידי איל פינק, גיל סייליס, מיכאל גנקין, אורי בנד ו<a href="humans.txt">אחרים</a> מ<a href="http://yeda.us" title="הסדנא לידע ציבורי" target="_blank">הסדנא לידע ציבורי</a><br />
                    ביוזמת ותמיכת השר המופקד על <a href="http://www.shituf.gov.il" title="ממשלה שלום">שיפור השירות הממשלתי לציבור</a><br />
                </p>
                <p class="col left">
                    נתונים גולמיים, API וקוד מקור ניתן למצוא <a href="https://github.com/hasadna/GovInspector">כאן</a><br />
                    משותף תחת <a href="http://creativecommons.org/licenses/by/2.5/il/">רשיון ייחוס</a><br />
                    מצאתם תקלה? יש הצעה לשיפור? <a href="https://track.nsa.co.il/projects/GovInspector/issues">דווחו</a> לנו!
                </p>
                <span class="clr">&nbsp;</span>
                {% endblock %}
            </div>
        </div>

        <noscript>
            <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
                Your web browser must have JavaScript enabled
                in order for this application to display correctly.
            </div>
        </noscript>

        {% block end_script %}{% endblock %}
    </body>
</html>
