<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>מבקר המבקר</title>

        <link type="image/x-icon" rel="icon" href="static/media/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="static/stylesheets/govinspector.css">

        <!--<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10203855-4']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>-->
    </head>

    <body>
        <div id="main">
            <div id="header">
                <h1 id="logo" class="rep">פורטל השירותים והמידע הממשלתי - www.gov.il</h1>
                <div id="budget_heading">
                    <div id="dev_state"><img src="static/media/beta-stamp.png" alt="in beta"></div>
                    <h2 id="budget_logo"><a href="/">מבקר המבקר</a></h2>
                </div>
            </div>

            <div id="content">
                <div id="welcome">
                    <p id="welcome_title">ברוכים הבאים לאתר מבקר מבקר-המדינה!</p>
                    <p id="welcome_text">
                        על רקע האסון בכרמל התכנסה ועדת השרים לביקורת המדינה והחליטה להרחיב את הפיקוח על תיקון הליקויים בדו"חות מבקר המדינה. על נושא זה ממונה נושא משרה ייחודי, המפקח הכללי במשרד רה"מ, מר יעקב זלצר, המוציא דו"חות מעקב שנתיים והסכים לשתף פעולה לצורך הקמת אתר אשר יציג דו"חות המעקב ומצב הטיפול בנושאי דו"חות מבקר המדינה במשרדי הממשלה ובגופים המבוקרים.<br/>
                        </br>
                        כחלק מעקרון השקיפות, האתר ינגיש בצורה חזותית, קלה ובהירה את תוכן הדו"חות המפקע, על מנת לאפשר לציבור ללמוד על קצב יישום דו"חות מבקר המדינה.
                    </p>
                </div>
            </div>

            <div id="footer">
                <p class="col right">
                    פותח על ידי איל פינק, גיל סייליס, מיכאל גנקין, אורי בנד ו<a href="https://github.com/hasadna/GovInspector/blob/master/AUTHORS.rst">אחרים</a> מ<a href="http://yeda.us" title="הסדנא לידע ציבורי" target="_blank">הסדנא לידע ציבורי</a><br />
                    בתמיכת השר המופקד על <a href="http://www.shituf.gov.il" title="ממשלה שלום">שיפור השירות הממשלתי לציבור</a><br />
                </p>
                <p class="col left">
                    נתונים גולמיים, API וקוד מקור ניתן למצוא <a href="https://github.com/hasadna/GovInspector">כאן</a><br />
                    משותף תחת <a href="http://creativecommons.org/licenses/by/2.5/il/">רשיון ייחוס</a><br />
                    מצאתם תקלה? יש הצעה לשיפור? <a href="https://track.nsa.co.il/projects/GovInspector/issues">דווחו</a> לנו!
                </p>
                <span class="clr">&nbsp;</span>
            </div>
        </div>

        <noscript>
            <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
                Your web browser must have JavaScript enabled
                in order for this application to display correctly.
            </div>
        </noscript>
    </body>
</html>
